<!-- jQuery -->
<script src="<@s.url '/assets/js/jquery.js'/>"></script>
<script src="<@s.url '/assets/js/jquery-ui.min.js'/>"></script>
<script src="<@s.url '/assets/js/vue.min.js'/>"></script>

<!-- Theme Javascript -->
<script src="<@s.url '/assets/js/utility.js'/>"></script>
<script src="<@s.url '/assets/js/main.js'/>"></script>
<script src="<@s.url '/assets/js/vue-resource.min.js'/>"></script>
<script src="<@s.url '/assets/js/constant.js'/>"></script>
<script src="<@s.url '/assets/js/jstree.min.js'/>"></script>
<script src="<@s.url '/assets/plugins/toastr/toastr.min.js'/>"></script>
<script src="<@s.url '/assets/plugins/bootstrap/js/bootstrap.js/bootstrap.min.js'/>"></script>
<script src="<@s.url '/assets/plugins/bootstrap3-dialog/js/bootstrap-dialog.js'/>"></script>
<script src="<@s.url '/assets/js/amazeui.min.js'/>"></script>

<script type="text/javascript">
    toastr.options = {
        closeButton: true,
        debug: false,
        progressBar: true,
        positionClass: "toast-top-right",
        onclick: null,
        showDuration: "500",
        hideDuration: "500",
        timeOut: "5000",
        extendedTimeOut: "5000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };
</script>